In [1]:
import importlib
import matplotlib.pyplot as plt
import sys
sys.path.append('../../')

from astroLuSt.database_interface import simbadinterface as aldisi
from astroLuSt.styles import plot_styles as alstps

importlib.reload(aldisi)
importlib.reload(alstps)

#style for plotting
_ = alstps.tre_light()

# SimbadDatabaseInterface
* Use [`pd.Series.str.extractall()`](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.extractall.html#pandas.Series.str.extractall) to extract relevant ids

In [2]:
importlib.reload(aldisi)

targets = [
    'KIC 5006817', 'RR Lyr', 'TV Boo', 'KIC 5006817',
    'TIC 100015323'
]


SDI = aldisi.SimbadDatabaseInterface(
    npartitions=3,      #use to specify number of partitions
    nperpartition=3,    #use to specify number of samples per partitino
    n_jobs=1, simbad_timeout=120,
    verbose=3
)

df_ids = SDI.get_ids(
    input_ids=targets,
    npartitions=None,
    n_jobs=None,
    simbad_timeout=None,
    verbose=None,
    parallel_kwargs=None,
    query_tap_kwargs=None,
)
display(df_ids)


#extract relevant IDs
df_ids_sep = df_ids['ids'].str.extractall(pat=(
    r'(?P<id_gaiadr3>Gaia DR3[^|\n]+)'
    r'|(?P<id_gaiadr2>Gaia DR2[^|\n]+)'
    r'|(?P<id_apogee>AP[^|\n]+)'
    r'|(?P<id_tic>TIC[^|\n]+)'
)).groupby(level=0).first()

display(df_ids_sep)

INFO(get_ids): Working on parition 1/2 (3 samples)
INFO(get_ids): Working on parition 2/2 (2 samples)

,input_id,main_id,ids,ra,dec
0,KIC 5006817,KIC 5006817,AP J19214942+4008446|Gaia DR3 2101103743584479...,290.455967,40.145732
1,RR Lyr,V* RR Lyr,HIP 95497|AP J19252793+4247040|Gaia DR3 212598...,291.366304,42.784359
2,TV Boo,V* TV Boo,HIP 69759|AP J14163658+4221356|Gaia DR3 149223...,214.152423,42.359920
3,KIC 5006817,KIC 5006817,AP J19214942+4008446|Gaia DR3 2101103743584479...,290.455967,40.145732
4,TIC 100015323,TIC 100015323,TIC 100015323|Gaia DR3 4959612046243236864|TYC...,23.185169,-42.997902

,id_gaiadr3,id_gaiadr2,id_apogee,id_tic
0,Gaia DR3 2101103743584479744,Gaia DR2 2101103739284386688,AP J19214942+4008446,TIC 122447138
1,Gaia DR3 2125982599343482624,Gaia DR2 2125982599341232896,AP J19252793+4247040,TIC 159717514
2,Gaia DR3 1492230556717187456,Gaia DR2 1492230556717187456,AP J14163658+4221356,TIC 168709463
3,Gaia DR3 2101103743584479744,Gaia DR2 2101103739284386688,AP J19214942+4008446,TIC 122447138
4,Gaia DR3 4959612046243236864,Gaia DR2 4959612046243236864,None,TIC 100015323